openapi: 3.0.0
info:
  title: Misskey API
  version: v1
  x-logo:
    url: /static-assets/api-doc.png
externalDocs:
  description: Repository
  url: https://github.com/misskey-dev/misskey
servers:
- url: https://m.chars.jp/api
paths:
  /admin/abuse-user-reports:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/abuse-user-reports.ts
      operationId: admin/abuse-user-reports
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                sinceId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                untilId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                state:
                  nullable: true
                  type: string
                reporterOrigin:
                  default: combined
                  enum:
                  - combined
                  - local
                  - remote
                  nullable: false
                  type: string
                targetUserOrigin:
                  default: combined
                  enum:
                  - combined
                  - local
                  - remote
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200'
                nullable: false
                type: array
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/abuse-user-reports
      tags:
      - admin
  /admin/accounts/create:
    post:
      description: |-
        No description provided.

        **Credential required**: *No*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/accounts/create.ts
      operationId: admin/accounts/create
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                username:
                  nullable: false
                  type: string
                password:
                  minLength: 1
                  nullable: false
                  type: string
              required:
              - password
              - username
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: admin/accounts/create
      tags:
      - admin
  /admin/accounts/delete:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/accounts/delete.ts
      operationId: admin/accounts/delete
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                userId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/accounts/delete
      tags:
      - admin
  /admin/ad/create:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/ad/create.ts
      operationId: admin/ad/create
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                url:
                  minLength: 1
                  nullable: false
                  type: string
                memo:
                  nullable: false
                  type: string
                place:
                  nullable: false
                  type: string
                priority:
                  nullable: false
                  type: string
                ratio:
                  nullable: false
                  type: number
                expiresAt:
                  nullable: false
                  type: number
                imageUrl:
                  minLength: 1
                  nullable: false
                  type: string
              required:
              - expiresAt
              - imageUrl
              - memo
              - place
              - priority
              - ratio
              - url
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/ad/create
      tags:
      - admin
  /admin/ad/delete:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/ad/delete.ts
      operationId: admin/ad/delete
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - id
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_AD:
                  value:
                    error:
                      message: No such ad.
                      code: NO_SUCH_AD
                      id: ccac9863-3a03-416e-b899-8a64041118b1
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/ad/delete
      tags:
      - admin
  /admin/ad/list:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/ad/list.ts
      operationId: admin/ad/list
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                sinceId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                untilId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/ad/list
      tags:
      - admin
  /admin/ad/update:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/ad/update.ts
      operationId: admin/ad/update
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                memo:
                  nullable: false
                  type: string
                url:
                  minLength: 1
                  nullable: false
                  type: string
                imageUrl:
                  minLength: 1
                  nullable: false
                  type: string
                place:
                  nullable: false
                  type: string
                priority:
                  nullable: false
                  type: string
                ratio:
                  nullable: false
                  type: number
                expiresAt:
                  nullable: false
                  type: number
              required:
              - expiresAt
              - id
              - imageUrl
              - memo
              - place
              - priority
              - ratio
              - url
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_AD:
                  value:
                    error:
                      message: No such ad.
                      code: NO_SUCH_AD
                      id: b7aa1727-1354-47bc-a182-3a9c3973d300
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/ad/update
      tags:
      - admin
  /admin/announcements/create:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/announcements/create.ts
      operationId: admin/announcements/create
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              properties:
                title:
                  minLength: 1
                  nullable: false
                  type: string
                text:
                  minLength: 1
                  nullable: false
                  type: string
                imageUrl:
                  minLength: 1
                  nullable: true
                  type: string
              required:
              - imageUrl
              - text
              - title
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/announcements/create
      tags:
      - admin
  /admin/announcements/delete:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/announcements/delete.ts
      operationId: admin/announcements/delete
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - id
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_ANNOUNCEMENT:
                  value:
                    error:
                      message: No such announcement.
                      code: NO_SUCH_ANNOUNCEMENT
                      id: ecad8040-a276-4e85-bda9-015a708d291e
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/announcements/delete
      tags:
      - admin
  /admin/announcements/list:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/announcements/list.ts
      operationId: admin/announcements/list
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                sinceId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                untilId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_2'
                nullable: false
                type: array
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/announcements/list
      tags:
      - admin
  /admin/announcements/update:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/announcements/update.ts
      operationId: admin/announcements/update
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                title:
                  minLength: 1
                  nullable: false
                  type: string
                text:
                  minLength: 1
                  nullable: false
                  type: string
                imageUrl:
                  minLength: 1
                  nullable: true
                  type: string
              required:
              - id
              - imageUrl
              - text
              - title
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_ANNOUNCEMENT:
                  value:
                    error:
                      message: No such announcement.
                      code: NO_SUCH_ANNOUNCEMENT
                      id: d3aae5a7-6372-4cb4-b61c-f511ffc2d7cc
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/announcements/update
      tags:
      - admin
  /admin/delete-all-files-of-a-user:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/delete-all-files-of-a-user.ts
      operationId: admin/delete-all-files-of-a-user
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              properties:
                userId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - userId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/delete-all-files-of-a-user
      tags:
      - admin
  /admin/delete-logs:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/delete-logs.ts
      operationId: admin/delete-logs
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/delete-logs
      tags:
      - admin
  /admin/drive/clean-remote-files:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/drive/clean-remote-files.ts
      operationId: admin/drive/clean-remote-files
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/drive/clean-remote-files
      tags:
      - admin
  /admin/drive/cleanup:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/drive/cleanup.ts
      operationId: admin/drive/cleanup
      requestBody:
        content:
          application/json:
            schema:
              properties: {}
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/drive/cleanup
      tags:
      - admin
  /admin/drive/files:
    post:
      description: |-
        No description provided.

        **Credential required**: *No*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/drive/files.ts
      operationId: admin/drive/files
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              properties:
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                sinceId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                untilId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                type:
                  nullable: true
                  type: string
                origin:
                  default: local
                  enum:
                  - combined
                  - local
                  - remote
                  nullable: false
                  type: string
                hostname:
                  nullable: true
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DriveFile'
                nullable: false
                type: array
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: admin/drive/files
      tags:
      - admin
  /admin/drive/show-file:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/drive/show-file.ts
      operationId: admin/drive/show-file
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              properties:
                fileId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                url:
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_FILE:
                  value:
                    error:
                      message: No such file.
                      code: NO_SUCH_FILE
                      id: caf3ca38-c6e5-472e-a30c-b05377dcc240
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/drive/show-file
      tags:
      - admin
  /admin/emoji/add:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/emoji/add.ts
      operationId: admin/emoji/add
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              properties:
                fileId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - fileId
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                MO_SUCH_FILE:
                  value:
                    error:
                      message: No such file.
                      code: MO_SUCH_FILE
                      id: fc46b5a4-6b92-4c33-ac66-b806659bb5cf
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/add
      tags:
      - admin
  /admin/emoji/copy:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/emoji/copy.ts
      operationId: admin/emoji/copy
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              properties:
                emojiId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - emojiId
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_EMOJI:
                  value:
                    error:
                      message: No such emoji.
                      code: NO_SUCH_EMOJI
                      id: e2785b66-dca3-4087-9cac-b93c541cc425
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/copy
      tags:
      - admin
  /admin/emoji/list-remote:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/emoji/list-remote.ts
      operationId: admin/emoji/list-remote
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              properties:
                query:
                  nullable: true
                  type: string
                host:
                  nullable: true
                  type: string
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                sinceId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                untilId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_5'
                nullable: false
                type: array
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/list-remote
      tags:
      - admin
  /admin/emoji/list:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/emoji/list.ts
      operationId: admin/emoji/list
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              properties:
                query:
                  nullable: true
                  type: string
                limit:
                  default: 10
                  maximum: 100
                  minimum: 1
                  nullable: false
                  type: number
                sinceId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                untilId:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_5'
                nullable: false
                type: array
          description: OK (with results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/list
      tags:
      - admin
  /admin/emoji/remove:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/emoji/remove.ts
      operationId: admin/emoji/remove
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
              required:
              - id
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_EMOJI:
                  value:
                    error:
                      message: No such emoji.
                      code: NO_SUCH_EMOJI
                      id: be83669b-773a-44b7-b1f8-e5e5170ac3c2
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/remove
      tags:
      - admin
  /admin/emoji/update:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/emoji/update.ts
      operationId: admin/emoji/update
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          application/json:
            schema:
              properties:
                id:
                  example: xxxxxxxxxx
                  format: id
                  nullable: false
                  type: string
                name:
                  nullable: false
                  type: string
                category:
                  nullable: true
                  type: string
                aliases:
                  items:
                    nullable: false
                    type: string
                  nullable: false
                  type: array
              required:
              - aliases
              - id
              - name
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                NO_SUCH_EMOJI:
                  value:
                    error:
                      message: No such emoji.
                      code: NO_SUCH_EMOJI
                      id: 684dec9d-a8c2-4364-9aa8-456c49cb1dc8
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/emoji/update
      tags:
      - admin
  /admin/federation/delete-all-files:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/federation/delete-all-files.ts
      operationId: admin/federation/delete-all-files
      requestBody:
        $ref: '#/components/requestBodies/inline_object_20'
        content:
          application/json:
            schema:
              properties:
                host:
                  nullable: false
                  type: string
              required:
              - host
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/federation/delete-all-files
      tags:
      - admin
  /admin/federation/refresh-remote-instance-metadata:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/federation/refresh-remote-instance-metadata.ts
      operationId: admin/federation/refresh-remote-instance-metadata
      requestBody:
        $ref: '#/components/requestBodies/inline_object_21'
        content:
          application/json:
            schema:
              properties:
                host:
                  nullable: false
                  type: string
              required:
              - host
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/federation/refresh-remote-instance-metadata
      tags:
      - admin
  /admin/federation/remove-all-following:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/federation/remove-all-following.ts
      operationId: admin/federation/remove-all-following
      requestBody:
        $ref: '#/components/requestBodies/inline_object_22'
        content:
          application/json:
            schema:
              properties:
                host:
                  nullable: false
                  type: string
              required:
              - host
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/federation/remove-all-following
      tags:
      - admin
  /admin/federation/update-instance:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/federation/update-instance.ts
      operationId: admin/federation/update-instance
      requestBody:
        $ref: '#/components/requestBodies/inline_object_23'
        content:
          application/json:
            schema:
              properties:
                host:
                  nullable: false
                  type: string
                isSuspended:
                  nullable: false
                  type: boolean
              required:
              - host
              - isSuspended
              type: object
        required: true
      responses:
        "204":
          description: OK (without any results)
        "400":
          content:
            application/json:
              examples:
                INVALID_PARAM:
                  value:
                    error:
                      message: Invalid param.
                      code: INVALID_PARAM
                      id: 3d81ceae-475f-4600-b2a8-2bc116157532
              schema:
                $ref: '#/components/schemas/Error'
          description: Client error
        "401":
          content:
            application/json:
              examples:
                CREDENTIAL_REQUIRED:
                  value:
                    error:
                      message: Credential required.
                      code: CREDENTIAL_REQUIRED
                      id: 1384574d-a912-4b81-8601-c7b1c4085df1
              schema:
                $ref: '#/components/schemas/Error'
          description: Authentication error
        "403":
          content:
            application/json:
              examples:
                AUTHENTICATION_FAILED:
                  value:
                    error:
                      message: Authentication failed. Please ensure your token is
                        correct.
                      code: AUTHENTICATION_FAILED
                      id: b0a7f5f8-dc2f-4171-b91f-de88ad238e14
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden error
        "418":
          content:
            application/json:
              examples:
                I_AM_AI:
                  value:
                    error:
                      message: You sent a request to Ai-chan, Misskey's showgirl,
                        instead of the server.
                      code: I_AM_AI
                      id: 60c46cd1-f23a-46b1-bebe-5d2b73951a84
              schema:
                $ref: '#/components/schemas/Error'
          description: I'm Ai
        "500":
          content:
            application/json:
              examples:
                INTERNAL_ERROR:
                  value:
                    error:
                      message: Internal error occurred. Please contact us if the error
                        persists.
                      code: INTERNAL_ERROR
                      id: 5d37dbcb-891e-41ca-a3d6-e690c97775ac
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      security:
      - ApiKeyAuth: []
      summary: admin/federation/update-instance
      tags:
      - admin
  /admin/get-index-stats:
    post:
      description: |-
        No description provided.

        **Credential required**: *Yes*
      externalDocs:
        description: Source code
        url: https://github.com/misskey-dev/misskey/blob/develop/src/server/api/endpoints/admin/get-index-stats.ts
      operationId: admin/get-index-stats
      requestBody:
        content:
          application/json:
[...]
